@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    width: 100%;
    height: 47.5rem;
    background-image: url("../images/glass_background.jpg");
    background-size: cover;
}

nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

h2 {
    font-weight: 600;
    color:#60B5F7;
    font-size: 2rem;
    width: 70%;
}

h3 {
    font-weight: 600;
    color: #05164D;
    font-size: 1.35rem;
}

h4 {
    font-weight: 400;
    font-size: 1.15rem;
    color: black;
    margin-top: 0%;
    font-style: italic;
}

p {
    font-size: 1.05rem;
    font-weight: 300;
    color: #595959;
}

a {
    text-decoration: none;
    color: #0332FF;
}

a:visited {
    color: darkorchid;
}

.navli {
    width:fit-content;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    margin-right: 3%;
}

.navli a {
    color:#05164D;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
}

.navli a:hover {
    cursor: pointer;
    color: #60B5F7;
}

#nav-logo {
    width: 20%;
}

#nav-logo img {
    max-width: 70%;
    max-height: 70%;
    padding-left: 5%;
}

#nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
    height: fit-content;
    margin-right: 2%;
}

/* Language Dropdown */

/* Dropdown Button */

.dropbtn {
    background: none;
    height: 1.75rem;
    width: 2.75rem;
    padding: 0.3rem;
    border-radius: 0;
    border-style: none;
    cursor: pointer;
    color:#05164D;
    font-size: 1.15rem;
    font-weight: 500;
  }

  .lang-flag {
    padding-top: 0.35rem;
  } 

  .lang-icon, .lang-flag {
    width: 1.15rem;
    height: 1.15rem;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0%;
    margin-right: 2%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 2rem;
    right: 0.2rem;
    background-color: #F3F4F8;
    min-width: 4.15rem;
    box-shadow: 0rem 0.8px 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content .lang-option {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
  }

  .dropdown-content .lang-option {
    /* margin-left: 0.5rem; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .dropdown-content a {
    color:#05164D;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content .lang-option:hover {background-color: #d9d9d9;}

/* End of Nav */

.tagline h1 {
    text-align: left;
    font-weight: 700;
    font-size: 3.5rem;
    color: black;
    margin-left: 12.5%;
    padding-top: 5%;
    width: 40%;
}

.container {
    display: flex;
    width: 100%;
    height: 43.5rem;
}

#our-firm, #our-team {
    background-color: #F3F4F8;
    height: 35rem;
    display: flex;
}

#our-firm h3 {
    font-family: 'Inter';
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
    width: 75%;
    margin: auto;
}

.picture {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: end;
}

.benefit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.benefits {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefit-action {
    width: 70%;
    height: fit-content;
    margin-bottom: 3%;
}

.benefits h3 {
    line-height: 0%;
}

.benefits p {
    color: dimgrey;
}

#advise {
    order: 1;
}

#meeting {
    order: 2;
}

#our_team_title {
    display: none;
}

#team-member {
    display: flex;
    align-items: center;
    width: 50%;
}

.frame {
    margin-left: 8%;
}

#itai {
    margin-left: 15%;
}

.team-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60B5F7;
    width: 17.5rem;   /* 275px */
    height: 20.25rem;  /* 320px */
    border-radius: 1%;
}

#bio {
    margin-left: 3%;
    height: 55%;
    width: 20rem;
}

#bio h3 {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

#our-team img {
    height: 19rem;
}

footer {
    height: 10rem;
    display: flex;
    justify-content: left;
    background-color: #05164D;
}

footer h4 {
    color: white;
    margin-top: 0%;
}

#name-address {
    width: 25%;
    margin-left: 5%;
    margin-top: 2%;
}

#legal-name {
    font-weight: 500;
    line-height: 1.5;
}

address {
    font-size: 0.85rem;
    font-weight:300;
    font-style: normal;
    color: #fff;
}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
}


@media (max-width: 767px) {

    header {
        height: 25rem;
        background-image: url("../images/glass_background.jpg");
        background-size: 325%;
    }

    .navli {
        display: none;
    }

    #nav-logo {
        width: 50%;
    }
    
    #nav-logo img {
        max-width: 90%;
        max-height: 90%;
        padding-left: 5%;
    }

    .container {
        display: block; /* Ensure the container doesn’t force inline layout */
        width: 100%;
        height: 85rem;
    }

    .tagline h1 {
        text-align: left;
        font-weight: 700;
        font-size: 2rem;
        color: black;
        margin-left: 22.5%;
        padding-top: 17.5%;
        width: 60%;
    }

    #our-firm {
        height: 20rem;
    } 

    #our-firm h3 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-align: center;
        width: 65%;
        margin: auto;
    }

    h2 {
        font-weight: 600;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        padding-top: 2.75rem;
        
    }
    
    h3 {
        font-size: 1.25rem;
        text-align: center;
        width: 85%;
        margin: auto;
    }
    
    h4 {
        text-align: center;
    }

    .picture {
        display: block;
        width: 100%;
        height: 20rem;
    }
    
    .benefit-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .benefits {
        width: 100%;
        height: 50rem;
        display: block;
    }
    
    .benefit-action {
        width: 70%;
        margin-bottom: 0%;
        margin-left: 15%;
        margin-top: 2.5rem;
    }
    
    .benefits h3 {
        line-height: normal;
    }
    
    .benefits p {
        color: dimgrey;
    }

    #our-team {
        display: block; /* Ensure it stacks elements */
        width: 100%;
        height: 91rem;
    }

    #our_team_title {
        display: block;
        text-align: center;
    }

    .frame {
        padding-top: 1rem;
        width: 62%;
        margin-left: 19%;
        border: red solid;
    }

    .team-img {
        width: 14rem;
        height: 16rem;
        margin: auto;
    }

    #itai {
        margin-left: 19%;
    }
    
    #bio h3 {
        margin-bottom: 0.2rem;
        margin-top: 1rem;
    }

    #bio p {
        width: 70%;
        margin-left: 15%;
    }
    
    #our-team img {
        height: 15rem;
    }

    #team-member {
        display: block; /* Stack vertically */
        width: 100%; /* Take full width on smaller screens */
        margin-bottom: 2rem; /* Add space between team members */
    }

    #bio {
        width: 100%; /* Make bio takes full width */
        margin: 0; /* Remove any left margins */
    }

    footer {
        display: block;
    text-align: center;
    }
    
    /* footer h4 {
        color: white;
        margin-top: 0%;
    } */
    
    #name-address {
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    
    /* #legal-name {
        font-weight: 500;
        line-height: 1.5;
    } */
    
    address {
        padding-top: 2rem;
        text-align: center;
    }

}

